body {
  color: black;
  margin: 0;

  font-family: Inter, sans-serif;
}
.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid black;
}
.chef-img {
  width: 50px;
}
